.statusContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  width: 900px;
}

.item {
  padding: 24px;
  border-radius: 12px;
}

.item * {
  line-height: normal;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.count {
  font-size: 20px;
  font-weight: 600;
}
