.item {
  width: 100%;
  border-bottom: 1px solid rgba(28, 28, 28, 0.05);
}

.item > div {
  padding: 16px 20px;
  height: 84px;
}

.item span {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.info {
  width: 336px;
}

.text {
  width: 228px;
}

.name,
.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  color: rgba(28, 28, 28, 0.4);
}

.longData {
  width: 160px;
}

.shortData {
  width: 136px;
}

.date {
  width: 156px;
}
